<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.overlay.g013c">
    <application android:hasCode="false" />
    <overlay android:targetPackage="com.android.settings.m2007J17g"
             android:requiredSystemPropertyName="ro.product.model"
             android:requiredSystemPropertyValue="M2007J17G"
             android:isStatic="true" />
</manifest>
